<launch>

	<node pkg="turtlesim" name="turtle1" type="turtlesim_node" />
	<node pkg="rosservice" name="turtle2" type="rosservice" args="call /spawn 2 2 0.1 turtle2" />

	<node pkg="beginner_tutorials" name="movenode1" type="move3.py" />
	<node pkg="beginner_tutorials" name="mimic" type="mimic">
		<remap from="input" to="turtle1" />
		<remap from="output" to="turtle2" />
	</node>
</launch>
