<launch>

	<param name="use_sim_time" value="true" />
	<node pkg="stage_ros" type="stageros" name="stageros" args="$(find beginner_tutorials)/world/worldfile.world" output="screen" />

	<node pkg="beginner_tutorials" type="scanenv5.py" name="robotmove1" args="0" output="screen" />
	<node pkg="beginner_tutorials" type="scanenv5.py" name="robotmove2" args="1" output="screen" />
	<node pkg="beginner_tutorials" type="scanenv5.py" name="robotmove3" args="2" output="screen" />

	<!--
	<node pkg="beginner_tutorials" type="turtlebot3_obstacle.py" name="robotmove1" args="0" output="screen" />
	<node pkg="beginner_tutorials" type="turtlebot3_obstacle.py" name="robotmove2" args="1" output="screen" />
	<node pkg="beginner_tutorials" type="turtlebot3_obstacle.py" name="robotmove3" args="2" output="screen" />
	-->
	<!-- This is a comment -->
</launch>
