<launch>
	<param name="use_sim_time" value="true" />
	<node pkg="stage_ros" type="stageros" name="stageros" args="$(find beginner_tutorials)/world/worldfile.world" output="screen" />

	<node pkg="beginner_tutorials" type="scanenv1.py" name="robotmove" args="0" output="screen" />
	<node pkg="beginner_tutorials" type="scanenv1.py" name="robotmove1" args="1" output="screen" />	
	
</launch>
